In [1]:
paragraph = "I am learning machine learning skillsets by ineuron and taking the advantane predesigned awesome couse designed by ineuron"

In [2]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 13.9 MB/s eta 0:00:0000:010:01
Requirement already satisfied: click in /opt/conda/lib/python3.10/site-packages (from nltk) (8.1.3)
Collecting regex>=2021.8.3
  Downloading regex-2022.10.31-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (770 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 770.5/770.5 kB 61.1 MB/s eta 0:00:00
Requirement already satisfied: tqdm in /opt/conda/lib/python3.10/site-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in /opt/conda/lib/python3.10/site-packages (from nltk) (1.2.0)
Installing collected packages: regex, nltk
Successfully installed nltk-3.8.1 regex-2022.10.31

In [3]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/jovyan/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [4]:
nltk.sent_tokenize(paragraph)

['I am learning machine learning skillsets by ineuron and taking the advantane predesigned awesome couse designed by ineuron']

In [5]:
import nltk

paragraph = "Hello there! How are you doing today? I hope you are doing well. Have a great day ahead!"

sentences = nltk.sent_tokenize(paragraph)

print(sentences)

['Hello there!', 'How are you doing today?', 'I hope you are doing well.', 'Have a great day ahead!']

In [6]:
nltk.word_tokenize(paragraph)

['Hello',
 'there',
 '!',
 'How',
 'are',
 'you',
 'doing',
 'today',
 '?',
 'I',
 'hope',
 'you',
 'are',
 'doing',
 'well',
 '.',
 'Have',
 'a',
 'great',
 'day',
 'ahead',
 '!']

In [7]:
#stemming
from nltk.stem import PorterStemmer

In [8]:
stemmer = PorterStemmer()

In [9]:
stemmer.stem("happy")

'happi'

In [10]:
words=nltk.word_tokenize(paragraph)
words

['Hello',
 'there',
 '!',
 'How',
 'are',
 'you',
 'doing',
 'today',
 '?',
 'I',
 'hope',
 'you',
 'are',
 'doing',
 'well',
 '.',
 'Have',
 'a',
 'great',
 'day',
 'ahead',
 '!']

In [11]:
for i in words:
    a=stemmer.stem(i)
    print(a)

hello
there
!
how
are
you
do
today
?
i
hope
you
are
do
well
.
have
a
great
day
ahead
!

In [12]:
#Lematization: give meaningful words

In [13]:
from nltk.stem import WordNetLemmatizer

In [14]:
lemmatizer = WordNetLemmatizer()

In [15]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /home/jovyan/nltk_data...

True

In [16]:
lemmatizer.lemmatize("grapes")

'grape'

In [17]:
lemmatizer.lemmatize("wellness")

'wellness'

In [18]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /home/jovyan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [19]:
sentences

['Hello there!',
 'How are you doing today?',
 'I hope you are doing well.',
 'Have a great day ahead!']

In [20]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words=[stemmer.stem(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['hello', 'there', '!']
['how', 'are', 'you', 'do', 'today', '?']
['i', 'hope', 'you', 'are', 'do', 'well', '.']
['have', 'a', 'great', 'day', 'ahead', '!']

In [21]:
corpus

['hello there !',
 'how are you do today ?',
 'i hope you are do well .',
 'have a great day ahead !']

In [22]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words=[lemmatizer.lemmatize(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['Hello', 'there', '!']
['How', 'are', 'you', 'doing', 'today', '?']
['I', 'hope', 'you', 'are', 'doing', 'well', '.']
['Have', 'a', 'great', 'day', 'ahead', '!']

In [23]:
paragraph = "Ratan Naval Tata (born 28 December 1937) is an Indian Industrialist and former chairman of Tata Sons. He was also the chairman of the Tata Group from 1990 to 2012, serving also as interim chairman from October 2016 through February 2017. He continues to head its charitable trusts.[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.[4]He is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group. He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel. He later succeeded J. R. D. Tata's as chairman of Tata Sons upon the latter's retirement in 1991. Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business. Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity."

In [24]:
paragraph

"Ratan Naval Tata (born 28 December 1937) is an Indian Industrialist and former chairman of Tata Sons. He was also the chairman of the Tata Group from 1990 to 2012, serving also as interim chairman from October 2016 through February 2017. He continues to head its charitable trusts.[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.[4]He is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group. He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel. He later succeeded J. R. D. Tata's as chairman of Tata Sons upon the latter's retirement in 1991. Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business. Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity."

In [25]:
sentences = nltk.sent_tokenize(paragraph)

In [26]:
sentences

['Ratan Naval Tata (born 28 December 1937) is an Indian Industrialist and former chairman of Tata Sons.',
 'He was also the chairman of the Tata Group from 1990 to 2012, serving also as interim chairman from October 2016 through February 2017.',
 'He continues to head its charitable trusts.',
 '[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.',
 '[4]He is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group.',
 "He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.",
 '[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel.',
 "He later succeeded J. R. D. Tata's as chairman of Tata Sons upon the latter's retirement in 1991.",
 'Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business.',
 'Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity.']

In [27]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words=[stemmer.stem(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['ratan', 'naval', 'tata', '(', 'born', '28', 'decemb', '1937', ')', 'is', 'an', 'indian', 'industrialist', 'and', 'former', 'chairman', 'of', 'tata', 'son', '.']
['he', 'wa', 'also', 'the', 'chairman', 'of', 'the', 'tata', 'group', 'from', '1990', 'to', '2012', ',', 'serv', 'also', 'as', 'interim', 'chairman', 'from', 'octob', '2016', 'through', 'februari', '2017', '.']
['he', 'continu', 'to', 'head', 'it', 'charit', 'trust', '.']
['[', '2', ']', '[', '3', ']', 'in', '2008', ',', 'he', 'receiv', 'the', 'padma', 'vibhushan', ',', 'the', 'second', 'highest', 'civilian', 'honour', 'in', 'india', ',', 'after', 'receiv', 'the', 'padma', 'bhushan', ',', 'the', 'third', 'highest', 'civilian', 'honour', 'in', '2000', '.']
['[', '4', ']', 'he', 'is', 'the', 'son', 'of', 'naval', 'tata', ',', 'who', 'wa', 'adopt', 'by', 'ratanji', 'tata', ',', 'son', 'of', 'jamsetji', 'tata', ',', 'the', 'founder', 'of', 'the', 'tata', 'group', '.']
['he', 'graduat', 'from', 'the', 'cornel', 'univers', 'colleg', 'of', 'architectur', 'with', 'a', 'bachelor', "'s", 'degre', 'in', 'architectur', '.']
['[', '5', ']', 'he', 'join', 'tata', 'in', '1961', ',', 'where', 'he', 'work', 'on', 'the', 'shop', 'floor', 'of', 'tata', 'steel', '.']
['he', 'later', 'succeed', 'j.', 'r.', 'd.', 'tata', "'s", 'as', 'chairman', 'of', 'tata', 'son', 'upon', 'the', 'latter', "'s", 'retir', 'in', '1991', '.']
['under', 'hi', 'tenur', 'the', 'tata', 'group', 'acquir', 'tetley', ',', 'jaguar', 'land', 'rover', ',', 'and', 'coru', ',', 'in', 'an', 'attempt', 'to', 'turn', 'tata', 'from', 'a', 'larg', 'india-centr', 'group', 'into', 'a', 'global', 'busi', '.']
['tata', 'is', 'also', 'one', 'of', 'the', 'largest', 'philanthropist', 'in', 'the', 'world', ',', 'have', 'donat', 'around', '60–65', '%', 'of', 'hi', 'incom', 'to', 'chariti', '.']

In [28]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words=[lemmatizer.lemmatize(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['Ratan', 'Naval', 'Tata', '(', 'born', '28', 'December', '1937', ')', 'is', 'an', 'Indian', 'Industrialist', 'and', 'former', 'chairman', 'of', 'Tata', 'Sons', '.']
['He', 'wa', 'also', 'the', 'chairman', 'of', 'the', 'Tata', 'Group', 'from', '1990', 'to', '2012', ',', 'serving', 'also', 'a', 'interim', 'chairman', 'from', 'October', '2016', 'through', 'February', '2017', '.']
['He', 'continues', 'to', 'head', 'it', 'charitable', 'trust', '.']
['[', '2', ']', '[', '3', ']', 'In', '2008', ',', 'he', 'received', 'the', 'Padma', 'Vibhushan', ',', 'the', 'second', 'highest', 'civilian', 'honour', 'in', 'India', ',', 'after', 'receiving', 'the', 'Padma', 'Bhushan', ',', 'the', 'third', 'highest', 'civilian', 'honour', 'in', '2000', '.']
['[', '4', ']', 'He', 'is', 'the', 'son', 'of', 'Naval', 'Tata', ',', 'who', 'wa', 'adopted', 'by', 'Ratanji', 'Tata', ',', 'son', 'of', 'Jamsetji', 'Tata', ',', 'the', 'founder', 'of', 'the', 'Tata', 'Group', '.']
['He', 'graduated', 'from', 'the', 'Cornell', 'University', 'College', 'of', 'Architecture', 'with', 'a', 'bachelor', "'s", 'degree', 'in', 'architecture', '.']
['[', '5', ']', 'He', 'joined', 'Tata', 'in', '1961', ',', 'where', 'he', 'worked', 'on', 'the', 'shop', 'floor', 'of', 'Tata', 'Steel', '.']
['He', 'later', 'succeeded', 'J.', 'R.', 'D.', 'Tata', "'s", 'a', 'chairman', 'of', 'Tata', 'Sons', 'upon', 'the', 'latter', "'s", 'retirement', 'in', '1991', '.']
['Under', 'his', 'tenure', 'the', 'Tata', 'Group', 'acquired', 'Tetley', ',', 'Jaguar', 'Land', 'Rover', ',', 'and', 'Corus', ',', 'in', 'an', 'attempt', 'to', 'turn', 'Tata', 'from', 'a', 'largely', 'India-centric', 'group', 'into', 'a', 'global', 'business', '.']
['Tata', 'is', 'also', 'one', 'of', 'the', 'largest', 'philanthropist', 'in', 'the', 'world', ',', 'having', 'donated', 'around', '60–65', '%', 'of', 'his', 'income', 'to', 'charity', '.']

In [29]:
corpus

['Ratan Naval Tata ( born 28 December 1937 ) is an Indian Industrialist and former chairman of Tata Sons .',
 'He wa also the chairman of the Tata Group from 1990 to 2012 , serving also a interim chairman from October 2016 through February 2017 .',
 'He continues to head it charitable trust .',
 '[ 2 ] [ 3 ] In 2008 , he received the Padma Vibhushan , the second highest civilian honour in India , after receiving the Padma Bhushan , the third highest civilian honour in 2000 .',
 '[ 4 ] He is the son of Naval Tata , who wa adopted by Ratanji Tata , son of Jamsetji Tata , the founder of the Tata Group .',
 "He graduated from the Cornell University College of Architecture with a bachelor 's degree in architecture .",
 '[ 5 ] He joined Tata in 1961 , where he worked on the shop floor of Tata Steel .',
 "He later succeeded J. R. D. Tata 's a chairman of Tata Sons upon the latter 's retirement in 1991 .",
 'Under his tenure the Tata Group acquired Tetley , Jaguar Land Rover , and Corus , in an attempt to turn Tata from a largely India-centric group into a global business .',
 'Tata is also one of the largest philanthropist in the world , having donated around 60–65 % of his income to charity .']

In [30]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /home/jovyan/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [31]:
from nltk.corpus import stopwords
stopwords=stopwords.words('english')

In [32]:
lemmatizer.lemmatize('better',pos='a')

'good'

In [33]:
lemmatizer.lemmatize('was')

'wa'

In [34]:
from sklearn.feature_extraction.text import CountVectorizer

In [35]:
sentences

['Ratan Naval Tata (born 28 December 1937) is an Indian Industrialist and former chairman of Tata Sons.',
 'He was also the chairman of the Tata Group from 1990 to 2012, serving also as interim chairman from October 2016 through February 2017.',
 'He continues to head its charitable trusts.',
 '[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.',
 '[4]He is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group.',
 "He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.",
 '[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel.',
 "He later succeeded J. R. D. Tata's as chairman of Tata Sons upon the latter's retirement in 1991.",
 'Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business.',
 'Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity.']

In [41]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [stemmer.stem(word) for word in words if not word in stopwords]
    print(words)
    corpus.append(" ".join(words))

['ratan', 'naval', 'tata', '(', 'born', '28', 'decemb', '1937', ')', 'indian', 'industrialist', 'former', 'chairman', 'tata', 'son', '.']
['he', 'also', 'chairman', 'tata', 'group', '1990', '2012', ',', 'serv', 'also', 'interim', 'chairman', 'octob', '2016', 'februari', '2017', '.']
['he', 'continu', 'head', 'charit', 'trust', '.']
['[', '2', ']', '[', '3', ']', 'in', '2008', ',', 'receiv', 'padma', 'vibhushan', ',', 'second', 'highest', 'civilian', 'honour', 'india', ',', 'receiv', 'padma', 'bhushan', ',', 'third', 'highest', 'civilian', 'honour', '2000', '.']
['[', '4', ']', 'he', 'son', 'naval', 'tata', ',', 'adopt', 'ratanji', 'tata', ',', 'son', 'jamsetji', 'tata', ',', 'founder', 'tata', 'group', '.']
['he', 'graduat', 'cornel', 'univers', 'colleg', 'architectur', 'bachelor', "'s", 'degre', 'architectur', '.']
['[', '5', ']', 'he', 'join', 'tata', '1961', ',', 'work', 'shop', 'floor', 'tata', 'steel', '.']
['he', 'later', 'succeed', 'j.', 'r.', 'd.', 'tata', "'s", 'chairman', 'tata', 'son', 'upon', 'latter', "'s", 'retir', '1991', '.']
['under', 'tenur', 'tata', 'group', 'acquir', 'tetley', ',', 'jaguar', 'land', 'rover', ',', 'coru', ',', 'attempt', 'turn', 'tata', 'larg', 'india-centr', 'group', 'global', 'busi', '.']
['tata', 'also', 'one', 'largest', 'philanthropist', 'world', ',', 'donat', 'around', '60–65', '%', 'incom', 'chariti', '.']

In [42]:
corpus

['ratan naval tata ( born 28 decemb 1937 ) indian industrialist former chairman tata son .',
 'he also chairman tata group 1990 2012 , serv also interim chairman octob 2016 februari 2017 .',
 'he continu head charit trust .',
 '[ 2 ] [ 3 ] in 2008 , receiv padma vibhushan , second highest civilian honour india , receiv padma bhushan , third highest civilian honour 2000 .',
 '[ 4 ] he son naval tata , adopt ratanji tata , son jamsetji tata , founder tata group .',
 "he graduat cornel univers colleg architectur bachelor 's degre architectur .",
 '[ 5 ] he join tata 1961 , work shop floor tata steel .',
 "he later succeed j. r. d. tata 's chairman tata son upon latter 's retir 1991 .",
 'under tenur tata group acquir tetley , jaguar land rover , coru , attempt turn tata larg india-centr group global busi .',
 'tata also one largest philanthropist world , donat around 60–65 % incom chariti .']

TypeError: list indices must be integers or slices, not str