In [2]:
import requests
import json
key = '6YKJO21SVQDCYFHF'
ticker = 'GOOG'
url = 'https://api.polygon.io/v1/last/stocks/{}?apiKey={}'.format(ticker, key)
response = requests.get(url)
print(response.json())

{'status': 'ERROR', 'request_id': 'a868110d89c75e32398f2ec7f291f917', 'error': 'Unknown API Key'}

In [10]:
import requests
import json 
key = '6YKJO21SVQDCYFHF'
ticker = 'AAPL'
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={}&apikey={}'.format(ticker, key)
response = requests.get(url)
# print(response.json())

In [4]:
https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=TATAMOTORS.BSE&outputsize=full&apikey=6YKJO21SVQDCYFHF

SyntaxError: invalid decimal literal (296205169.py, line 1)

In [5]:
curl("https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=TATAMOTORS.BSE&outputsize=full&apikey=6YKJO21SVQDCYFHF")

NameError: name 'curl' is not defined

In [6]:
import os
os.system('curl https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=TATAMOTORS.BSE&outputsize=full&apikey=6YKJO21SVQDCYFHF')

0

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   189  100   189    0     0    169      0  0:00:01  0:00:01 --:--:--   169

{
    "Error Message": "the parameter apikey is invalid or missing. Please claim your free API key on (https://www.alphavantage.co/support/#api-key). It should take less than 20 seconds."
}

In [7]:
api_key = '6YKJO21SVQDCYFHF'
stock="TATAMOTORS"
URL =f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={stock}.BSE&outputsize=full&apikey={api_key}"

In [8]:
print(URL)

https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=TATAMOTORS.BSE&outputsize=full&apikey=6YKJO21SVQDCYFHF

In [4]:
import requests
api_key = '6YKJO21SVQDCYFHF'
stock="TATAMOTORS"
url =f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={stock}.BSE&outputsize=full&apikey={api_key}"
# url = ''
headers = {'Authorization': 'Bearer ' + api_key}
response = requests.get(url, headers=headers)
# print(response.json())

In [5]:
import pandas as pd

# assuming `response` is the JSON response from the API
data = response.json()

# Convert the JSON data to a DataFrame
df = pd.DataFrame(data)

In [6]:
df

,Meta Data,Time Series (Daily)
1. Information,Daily Time Series with Splits and Dividend Events,NaN
2. Symbol,TATAMOTORS.BSE,NaN
3. Last Refreshed,2023-01-30,NaN
4. Output Size,Full size,NaN
5. Time Zone,US/Eastern,NaN
...,...,...
2005-01-07,NaN,"{'1. open': '472.382', '2. high': '477.077', '..."
2005-01-06,NaN,"{'1. open': '483.88', '2. high': '488.192', '3..."
2005-01-05,NaN,"{'1. open': '493.462', '2. high': '498.253', '..."
2005-01-04,NaN,"{'1. open': '499.5465', '2. high': '504.002', ..."
2005-01-03,NaN,"{'1. open': '488.4315', '2. high': '501.1275',..."