Total Marks: 100
Each question 10 marks
Question 1: -
Write a program that takes a string as input, and counts the frequency of each word in the string, there might
be repeated characters in the string. Your task is to find the highest frequency and returns the length of the
highest-frequency word.
Note - You have to write at least 2 additional test cases in which your program will run successfully and provide
an explanation for the same.
Example input - string = “write write write all the number from from from 1 to 100”
Example output - 5
Explanation - From the given string we can note that the most frequent words are “write” and “from” and
the maximum value of both the values is “write” and its corresponding length is 5

In [1]:
def freq_calc(input):
    word_freq={}
    for word in input.split(' '):
        if word in word_freq:
            word_freq[word] = word_freq[word] +1
            
        else:
            word_freq[word]=1
            
    max_word = max(word_freq, key=lambda x: word_freq[x])
    statement = f"'{max_word}' is the highest frequent word with frequency {max(word_freq.values())} and legth {len(max_word)}"
    print(statement)
    
    return len(max_word)

In [2]:
string = "write write write all the number from from from 1 to 100"
freq_calc(string)

'write' is the highest frequent word with frequency 3 and legth 5

5

In [3]:
string = "My name is manish and my hobby is coding i am coding when i got the time. i enjoy it alot. kepp  coding .."
freq_calc(string)

'coding' is the highest frequent word with frequency 3 and legth 6

6

Question 2: -
Consider a string to be valid if all characters of the string appear the same number of times. It is also valid if
he can remove just one character at the index in the string, and the remaining characters will occur the same number of times. Given a string, determine if it is valid. If so, return YES , otherwise return NO .

Note - You have to write at least 2 additional test cases in which your program will run successfully and provide
an explanation for the same.

Example input 1 - s = “abc”. This is a valid string because frequencies are { “a”: 1, “b”: 1, “c”: 1 }
Example output 1- YES

Example input 2 - s “abcc”. This string is not valid as we can remove only 1 occurrence of “c”. That leaves
character frequencies of { “a”: 1, “b”: 1 , “c”: 2 }
Example output 2 - NO

In [10]:
def validation(string):
    word_freq={}
    for word in string:
        if word in word_freq:
            word_freq[word] = word_freq[word] +1
            
        else:
            word_freq[word]=1
    if len(set(word_freq.values())) > 1:
        return 'NO'
    else:
        return 'YES'

In [12]:
string = "manish"
val=validation(string)
val

'YES'

In [14]:
string = "maanish"
val=validation(string)
val

'NO'

In [7]:
len(set(val.values()))

2

Question 3: -
Write a program, which would download the data from the provided link, and then read the data and convert
that into properly structured data and return it in Excel format.
Note - Write comments wherever necessary explaining the code written.Link - https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json
Data Attributes - id: Identification Number - int num: Number of the
●
●
●Pokémon in the official Pokédex - int name: Pokémon name -
string img: URL to an image of this Pokémon - string type:
Pokémon type -string height: Pokémon height - float
●weight: Pokémon weight - float candy: type of candy used to evolve Pokémon or
given
●
when transferred - string candy_count: the amount of candies required to evolve
- int
●egg: Number of kilometers to travel to hatch the egg - float spawn_chance:
●Percentage of spawn chance (NEW) - float avg_spawns: Number of this
pokemon on 10.000 spawns (NEW) - int
●
spawn_time: Spawns most active at the time on this field. Spawn times are the same for all
time zones and are expressed in local time. (NEW) - “minutes: seconds” multipliers:
Multiplier of Combat Power (CP) for calculating the CP after evolution See below - list of int
weakness: Types of
●
Pokémon this Pokémon is weak to - list of strings next_evolution: Number and Name of
successive evolutions of Pokémon - list of dict prev_evolution: Number and Name of previous
evolutions of Pokémon - - list of dict

In [24]:
import urllib.request

url = "https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json"

urllib.request.urlretrieve(url,'data.txt')

filename = 'data.txt'

with open(filename, 'r') as file:
    contents = file.read()

In [20]:
import requests

url = "https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json"

filename = 'data.txt'

response = requests.get(url)
with open(filename, 'wb') as file:
    file.write(response.content)

In [26]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=36635681d644a54a4c5394c932f96fe6390e8d62a0353beeeb7d037fe732a4d3
  Stored in directory: /home/jovyan/.cache/pip/wheels/46/78/0e/8e5e2b500f83a682c8d7e7ce820638cf99faa894a662f71cf0
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [52]:
import wget
import json

url = "https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json"

filename = 'data.json'

wget.download(url, filename)

with open(filename,'r') as file:
    content = json.load(file)

In [70]:
import pandas as pd
data=pd.read_json("data.json")
data

                                               pokemon
0    {'id': 1, 'num': '001', 'name': 'Bulbasaur', '...
1    {'id': 2, 'num': '002', 'name': 'Ivysaur', 'im...
2    {'id': 3, 'num': '003', 'name': 'Venusaur', 'i...
3    {'id': 4, 'num': '004', 'name': 'Charmander', ...
4    {'id': 5, 'num': '005', 'name': 'Charmeleon', ...
..                                                 ...
146  {'id': 147, 'num': '147', 'name': 'Dratini', '...
147  {'id': 148, 'num': '148', 'name': 'Dragonair',...
148  {'id': 149, 'num': '149', 'name': 'Dragonite',...
149  {'id': 150, 'num': '150', 'name': 'Mewtwo', 'i...
150  {'id': 151, 'num': '151', 'name': 'Mew', 'img'...

[151 rows x 1 columns]

In [1]:
import requests
import pandas as pd

url = "https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json"

# Fetch data from the URL
response = requests.get(url)
data = response.json()

# Extract the column data
columns = list(data["pokemon"][1].keys())
columns

# Create an empty DataFrame with the extracted column names
df = pd.DataFrame(columns=columns)


for pokemon in data["pokemon"]:
    row = [pokemon.get(column) for column in columns]
    df.loc[len(df)] = row

In [3]:
df.to_csv("pokemon_data.csv")

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151 entries, 0 to 150
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              151 non-null    int64
 1   num             151 non-null    object
 2   name            151 non-null    object
 3   img             151 non-null    object
 4   type            151 non-null    object
 5   height          151 non-null    object
 6   weight          151 non-null    object
 7   candy           151 non-null    object
 8   candy_count     70 non-null     object
 9   egg             151 non-null    object
 10  spawn_chance    151 non-null    float64
 11  avg_spawns      151 non-null    float64
 12  spawn_time      151 non-null    object
 13  multipliers     70 non-null     object
 14  weaknesses      151 non-null    object
 15  prev_evolution  72 non-null     object
 16  next_evolution  70 non-null     object
dtypes: float64(2), int64(1), object(14)
memory usage: 21.2+ KB

In [ ]:
df['id','num','candy_count','avg_spawns']

In [90]:
import requests
import pandas as pd

url = "https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json"

# Fetch data from the URL
response = requests.get(url)
data = response.json()

# Collect all unique keys as column names
columns = []
for pokemon in data["pokemon"]:
    for key in pokemon.keys():
        if key not in columns:
            columns.append(key)

# Create an empty DataFrame with the extracted column names
df = pd.DataFrame(columns=columns)

# Iterate over the Pokemon data and add rows to the DataFrame
for pokemon in data["pokemon"]:
    row = [pokemon.get(column) for column in columns]
    df.loc[len(df)] = row

df.to_excel('output.xlsx', index=False)

Question 4 -
Write a program to download the data from the link given below and then read the data and convert the into
the proper structure and return it as a CSV file.
Link - https://data.nasa.gov/resource/y77d-th95.json
Note - Write code comments wherever needed for code understanding.Sample Data -
Excepted Output Data Attributes

●
Name of Earth Meteorite - string id - ID of Earth
Meteorite - int nametype - string recclass - string
mass - Mass of Earth Meteorite - float year - Year at which Earth
Meteorite was hit - datetime format reclat - float recclong - float
point coordinates - list of int

In [98]:
import requests
import pandas as pd

url = "https://data.nasa.gov/resource/y77d-th95.json"

# Fetch data from the URL
response = requests.get(url)
earth_data = response.json()

In [106]:
# Save JSON data to a file
with open("earth_data.json", "w") as file:
    json.dump(earth_data, file)

In [115]:
import requests
import pandas as pd

url = "https://data.nasa.gov/resource/y77d-th95.json"

# Fetch data from the URL
response = requests.get(url)
earth_data = response.json()

columns = [] #Initiating Empty list for storing column names
for data in earth_data:
    for key in data.keys():
        if key not in columns:
            columns.append(key)

#Creating data frame columns 
df=pd.DataFrame(columns=columns)

# Iterate over the  earth_data and add rows to the DataFrame
for data in earth_data:
    row = [data.get(column) for column in columns]
    df.loc[len(df)] = row 
    
df=df.iloc[:,:-2] # deleting last two unrelated column
df.to_csv('earth_data.csv')

In [116]:
df

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,"{'type': 'Point', 'coordinates': [6.08333, 50...."
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,"{'type': 'Point', 'coordinates': [10.23333, 56..."
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"{'type': 'Point', 'coordinates': [-113, 54.216..."
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,"{'type': 'Point', 'coordinates': [-99.9, 16.88..."
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,"{'type': 'Point', 'coordinates': [-64.95, -33...."
...,...,...,...,...,...,...,...,...,...,...
995,Tirupati,24009,Valid,H6,230,Fell,1934-01-01T00:00:00.000,13.633330,79.416670,"{'type': 'Point', 'coordinates': [79.41667, 13..."
996,Tissint,54823,Valid,Martian (shergottite),7000,Fell,2011-01-01T00:00:00.000,29.481950,-7.611230,"{'type': 'Point', 'coordinates': [-7.61123, 29..."
997,Tjabe,24011,Valid,H6,20000,Fell,1869-01-01T00:00:00.000,-7.083330,111.533330,"{'type': 'Point', 'coordinates': [111.53333, -..."
998,Tjerebon,24012,Valid,L5,16500,Fell,1922-01-01T00:00:00.000,-6.666670,106.583330,"{'type': 'Point', 'coordinates': [106.58333, -..."
999,Tomakovka,24019,Valid,LL6,600,Fell,1905-01-01T00:00:00.000,47.850000,34.766670,"{'type': 'Point', 'coordinates': [34.76667, 47..."

Question 5 -
Write a program to download the data from the given API link and then extract the following data with
proper formatting
Link - http://api.tvmaze.com/singlesearch/shows?q=westworld&embed=episodes
Note - Write proper code comments wherever needed for the code understandingSample Data -
Excepted Output Data Attributes -

id - int 
url - string
name - string 
season- int 
number - int
type - string 
airdate -date format 
airtime -12-hour time format
runtime - float
average rating - float
summary - string
without html tags
medium image link - string
Original image link - string

In [21]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=1bc467504d279e4c9578b81cdfd1f199f6eb49f1a18292aebee777ed4f4446ac
  Stored in directory: /home/jovyan/.cache/pip/wheels/46/78/0e/8e5e2b500f83a682c8d7e7ce820638cf99faa894a662f71cf0
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [51]:
import wget
import json
from bs4 import BeautifulSoup


url = "http://api.tvmaze.com/singlesearch/shows?q=westworld&embed=episodes"


filename = 'movie_data.json'

wget.download(url, filename)

with open(filename,'r') as file:
    data_dict = json.load(file)
    
    
episodes = data_dict.get('_embedded', {}).get('episodes', [])

# Extract the desired columns for each episode
columns = ['id', 'name', 'season', 'number', 'type', 'airdate', 'airstamp', 'runtime', 'rating', 'summary', 'image']
episode_data = []
for episode in episodes:
    extracted_data = {col: episode.get(col) for col in columns}
    episode_data.append(extracted_data)

# Create a DataFrame from the extracted episode data
df = pd.DataFrame(episode_data)


# To removbe HTML tags from 'summary' column 
df['summary'] = df['summary'].apply(lambda x: BeautifulSoup(x, 'html.parser').get_text())

# Extracting 'medium' and 'original' column from 'image' column 
df['medium'] = df['image'].apply(lambda x: x['medium'])
df['original'] = df['image'].apply(lambda x: x['original'])

Question 6 -

Using the data from Question 3, write code to analyze the data and answer the following questions Note 1.
Draw plots to demonstrate the analysis for the following questions for better visualizations.
2. Write code comments wherever required for code understanding
Insights to be drawn -


● Get all Pokemons whose spawn rate is less than 5%
● Get all Pokemons that have less than 4 weaknesses
● Get all Pokemons that have no multipliers at all
● Get all Pokemons that do not have more than 2 evolutions
● Get all Pokemons whose spawn time is less than 300 seconds.

Note - spawn time format is "05:32”, so assume “minute: second” format and perform the analysis.
Get all Pokemon who have more than two types of capabilities

In [62]:
import pandas as pd

df=pd.read_csv("pokemon_data.csv")

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      151 non-null    int64
 1   id              151 non-null    int64
 2   num             151 non-null    int64
 3   name            151 non-null    object
 4   img             151 non-null    object
 5   type            151 non-null    object
 6   height          151 non-null    object
 7   weight          151 non-null    object
 8   candy           151 non-null    object
 9   candy_count     70 non-null     float64
 10  egg             151 non-null    object
 11  spawn_chance    151 non-null    float64
 12  avg_spawns      151 non-null    float64
 13  spawn_time      145 non-null    object
 14  multipliers     70 non-null     object
 15  weaknesses      151 non-null    object
 16  prev_evolution  72 non-null     object
 17  next_evolution  70 non-null     object
dtypes: float64(3), int64(3), object(12)
memory usage: 21.4+ KB

In [ ]:
# ● Get all Pokemons whose spawn rate is less than 5%


df[df['avg_spawns']<5]

In [ ]:
# ● Get all Pokemons that have less than 4 weaknesses

df['weaknesses']=df['weaknesses'].apply(eval)
df[df['weaknesses'].apply(lambda x: len(x) < 4)]

In [ ]:
# ● Get all Pokemons that have no multipliers at all

df[df['multipliers'].isna()]

In [ ]:
# ● Get all Pokemons that do not have more than 2 evolutions
df['next_evolution'] = df['next_evolution'].apply(eval)
df[df['next_evolution'].apply(lambda x: len(x) <= 2)]

In [66]:
df['next_evolution']

0      [{'num': '002', 'name': 'Ivysaur'}, {'num': '0...
1                   [{'num': '003', 'name': 'Venusaur'}]
2                                                    NaN
3      [{'num': '005', 'name': 'Charmeleon'}, {'num':...
4                  [{'num': '006', 'name': 'Charizard'}]
                             ...
146    [{'num': '148', 'name': 'Dragonair'}, {'num': ...
147                [{'num': '149', 'name': 'Dragonite'}]
148                                                  NaN
149                                                  NaN
150                                                  NaN
Name: next_evolution, Length: 151, dtype: object

In [ ]:
import ast
import numpy as np

df['next_evolution'] = df['next_evolution'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [71]:
df[df['next_evolution'].apply(lambda x : len(eval(x))<=2 if not pd.isna(x) and isinstance(eval(x), (list, tuple)) else False)]

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [70]:
df['next_evolution'][0]

[{'num': '002', 'name': 'Ivysaur'}, {'num': '003', 'name': 'Venusaur'}]

In [ ]:
# ● Get all Pokemons whose spawn time is less than 300 seconds.


import numpy as np

def convert_to_seconds(time_str):
    if pd.isna(time_str):
        return np.nan
    else:
        parts = time_str.split(":")
        minutes = int(parts[0])
        sec = int(parts[1])
        seconds = minutes * 60
        return seconds

df['spawn_time_seconds'] = df['spawn_time'].apply(convert_to_seconds)
df[df['spawn_time_seconds'] < 300]

Question 7 -

Using the data from Question 4, write code to analyze the data and answer the following questions Note -
1. Draw plots to demonstrate the analysis for the following questions for better visualizations
2. Write code comments wherever required for code understanding
Insights to be drawn -

● Get all the Earth meteorites that fell before the year 2000
● Get all the earth meteorites co-ordinates who fell before the year 1970

Assuming that the mass of the earth meteorites was in kg, get all those whose mass was more
than 10000kg